.userName {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        input[type=text] {
            border-top: none;
            border-left: none;
            background-color: #6D92B3;
            text-align: center;
            width: 200px;
            height: 40px;
            font: 400 20px roboto;
            color: #FFECCE;
            border-color: #FFECCE;
            &:focus {
                outline: none;
            }
            &::placeholder{
                color: #C3E0FA;
            }
        }
        
        input[type=submit] {
            background-color: #6D92B3;
            text-align: center;
            width: 200px;
            height: 40px;
            font: 400 20px roboto;
            color: #FFECCE;
            border-color: #FFECCE;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: #C3E0FA;
                color: #6D92B3;
                cursor: pointer;
            }
        }
        
    
    }
}


